body {
    background-color: #FFF;
}

.container-narrow {
    margin: 0 auto;
}

.masthead {
    background-color: #000;
    border-bottom: 2px solid #F90;
    margin: 0 0 30px;
}

.masthead-inner {
    margin: 0 auto;
    max-width: 900px;
    padding: 1px 0;
}

.masthead .nav {
    margin: 13px 0;
}

.jumbotron {
    margin: 60px auto;
    text-align: center;
    background: url(../img/mascot.png) no-repeat 100% 0;
    max-width: 900px;
    padding: 0 20px;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
    padding: 0 230px 0 0;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.marketing {
    margin: 30px 0;
    background-color: #DEDEDE;
    border: 1px solid #AAA;
    border-width: 1px 0;
    padding: 0 0 10px;
}

.marketing-inner {
    margin: auto;
    max-width: 900px;
}

.footer {
    margin: 30px 0 0;
    padding: 20px 0 10px;
    border-top: 1px solid #AAA;
    background-color: #EFEFEF;
}

.footer-inner {
    max-width: 900px;
    margin: auto;
}

.marketing-inner h4 {
    margin: 20px 0 10px;
}

.usage {
    overflow: hidden;
}

.usage-inner {
    max-width: 900px;
    margin: auto;
}
